* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body {
    background-color: #95c9c9;
}
.site-nav {
    height: 80px;
    width: 100%;
    margin-bottom: 30px;
}

.site-nav ul {
    float: right;
    margin: 0 50px 0 0;
}

.site-nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 20px;
}

.site-nav li a {
    font-size: 24px;
    color: black;
    font-weight: 700;
    text-transform: uppercase;
}

.site-logo {
    display: inline;
    font-size: 40px;
    font-style: italic;
    color: #000000;
    line-height: 80px;
    margin: 0 30px 0 30px;
}

.home-main {
    margin: 6em 8em 0 8em;
    display: flex;
    flex-direction: row;
    justify-content: space-around; 

}

.home-h1 {
    font-size: 80px;
    text-transform: uppercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 900;
    color: #0d3f6e;
}

.home-h2 {
    padding: 0 0 30px 3px ; 
    font-size: 40px;
    color: rgb(15, 114, 172);
}

.home-text-container {
    display: inline;
    width: 50%;
    margin: 30px ;
    padding: 40px;
}

.home-main-text {
    display: inline;
    font-size: 25px;
    margin: 0 10px 0 10px;
}

.home-img-container {
    width: 35%;

}

.home-photo {
    width: 100%;
    border-radius: 10em 5em;
}



/*ABOUT PAGE CSS*/

.abt-main {
    padding: 50px;
}

.abt-content-container {
    width: 40%;

}

.abt-heading {
    text-align: center;
    font-size: 4em;
    font-family: tahoma;
    text-transform: uppercase;
    font-style: italic;   
    margin: 0 0 80px;
}

.abt-content-section {
    display: flex;
    margin: 0 10em 0;
    justify-content: space-between;
}

.abt-content-title {
    font-size:30px ;
    margin: 0 0 1.5em;
    text-transform: uppercase;
    font-family:Tahoma, sans-serif ;
}

p {
    font-size: 25px;
}

.skills-content {
    width: 40%;
}

.online-title, .offline-title {
    font-size: 30px;
    text-transform: uppercase;
    font-family: Tahoma;
    margin: 0 0 1em;
}

/* THIS IS FOR THE PORTFOLIO PAGE*/

.portfolio-main {
    margin: 5em 15em 0;
}

.projects-heading {
    font-size: 3em;
    text-transform: uppercase;
    font-style: italic;
    font-family: tahoma;
    margin:0 0 20px 0 ;
}

.project-head-p {
    margin: 0 0 2em ;
}

.project-cards {
    display: grid;
    padding: 40px;
    border-radius: 40px ;
    margin: 20px 0 50px;
    background-color: #7bb9b9;
    justify-content: center;
    grid-template-rows: 1fr;
    grid-template-columns:200fr 300px 1fr ;
}

.project-card-p {
    width: 90%;
    margin: 20px 30px 0 0;
}

.card-photo {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}